<div class="site-navbar bg-white py-2">

  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <div class="logo">
        <div class="site-logo">
          <a href="/" class="js-logo-clone">Toàn Sg</a>
        </div>
      </div>
      <div class="main-nav d-none d-lg-block">
        <nav class="site-navigation text-right text-md-center" role="navigation">
          <ul class="site-menu js-clone-nav d-none d-lg-block">
            <li class="">
              <a href="/">Trang Chủ</a>
            </li>
            <li class="active has-children">
              <a href="/trang-cung-thuong/">Tròng Kính</a>
              <ul class="dropdown">
                <li class="has-children">
                  <a href="/trang-cung-thuong/">Tráng Cứng Thường - HC</a>
                  <ul class="dropdown">
                    <li><a href="/trang-cung-thuong/">Index 1.56</a></li>
                    <li><a href="/trang-cung-thuong/">Index 1.61</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a href="#">Ván Dầu Thường -  HMC</a>
                  <ul class="dropdown">
                    <li><a href="#">Index 1.56</a></li>
                    <li><a href="#">Index 1.61</a></li>
                  </ul>
                </li>
                
                <li class="has-children">
                  <a href="#">Đổi Màu - Photo Gray</a>
                  <ul class="dropdown">
                    <li><a href="#">1.56 Ván Xanh Lá - HMC</a></li>
                    <li><a href="#">1.56 Ván Xanh Dương - HMC</a></li>
                    <li><a href="#">1.56 Ván Dầu + ASX - HMC</a></li>
                    <li><a href="#">1.56 Tráng Cứng  - HC</a></li>
                    <li><a href="#">1.56 Xuyên Đêm Đổi Màu - HC</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a href="#">Ánh Sáng Xanh - Blue Block</a>
                  <ul class="dropdown">
                    <li><a href="#">1.61 Ván Xanh Lá - HMC</a></li>
                    <li><a href="#">1.61 Ván Xanh Dương - HMC</a></li>
                    <li><a href="#">1.61 Ván Tím - HMC</a></li>
                    <li><a href="#">1.56 Tráng Cứng  - HC</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a href="#">Poly - Khoan Ốc</a>
                  <ul class="dropdown">
                    <li><a href="#">1.60 Ván Dầu - HMC</a></li>
                    <li><a href="#">1.60 Tráng Cứng  - HMC</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a href="#">Hai Tròng - Plattop</a>
                  <ul class="dropdown">
                    <li><a href="#">1.56 Ván Dầu - HMC</a></li>
                    <li><a href="#">1.56 Tráng Cứng  - HC</a></li>
                    <li><a href="#">1.56 Tráng Cứng Đổi Màu - HC</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a href="#">Đa Tròng - Progressive</a>
                  <ul class="dropdown">
                    <li><a href="#">1.56 Tráng Cứng  - HC</a></li>
                    <li><a href="#">1.56 Tráng Cứng Đổi Màu - HC</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a href="#">Tròng Màu Nhuộm - Cr</a>
                  <ul class="dropdown">
                    <li><a href="#">1.56 Tráng Cứng Khói 2 Màu</a></li>
                    <li><a href="#">1.56 Tráng Cứng Trà 2 Màu</a></li>
                    <li><a href="#">1.56 Tráng Cứng D15</a></li>
                    <li><a href="#">1.56 Tráng Cứng Đen</a></li>
                    <li><a href="#">1.56 Tráng Cứng Trà Đậm</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a href="#">Tròng Polarized Mềm</a>
                  <ul class="dropdown">
                    <li><a href="#">Xuyêm Đêm</a></li>
                    <li><a href="#">Màu Đậm</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a href="#">Đổi Màu Thuỷ Tinh - SKY</a>
                  <ul class="dropdown">
                    <li><a href="#">Đổi Màu Khói Tráng Cứng </a></li>
                    <li><a href="#">Đổi Màu Trà Tráng Cứng </a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a href="#">Tròng RayBan Thuỷ Tinh</a>
                  <ul class="dropdown">
                    <li><a href="#">Phi 65 Xanh D15</a></li>
                    <li><a href="#">Phi 70 Xanh D15</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="has-children">
              <a href="#">Gọng Kính</a>
              <ul class="dropdown">
                <li class="has-children">
                  <a href="#">Gọng Nhựa</a>
                  <ul class="dropdown">
                    <li><a href="#">Nhựa TR90 RollRoyce</a></li>
                    <li><a href="#">Nhựa TR90 Bolon</a></li>
                    <li><a href="#">Nhựa TR90 Vido</a></li>
                    <li><a href="#">Nhựa TR90 Adidas</a></li>
                    <li><a href="#">Nhựa TR90 Sanhe</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a href="#">Gọng Kim Loại</a>
                  <ul class="dropdown">
                    <li><a href="#">Nguyên Khung Titanium R</a></li>
                    <li><a href="#">Xẻ Cước Titanium R</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#">Kính Mát</a></li>
            <li><a href="contact.html">Mua Hàng<span class="icon-hand-right"></span></a><number>0964.216.797</number></li>
          </ul>
        </nav>
      </div>
      <div class="icons">            
        <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
      </div>
    </div>
  </div>
</div>